/* HealthCarousel.css */

.spotlight-carousel {
  position: relative;
}

.carousel-slide {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel-slide:hover .carousel-caption,
.carousel .carousel-item.selected .carousel-caption {
  opacity: 1;
  transform: translateX(0);
}
