.card-component {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); */
  /* gap: 10px; */
  /* padding: 20px; */
  width: 300px; /* Increased width only */
  height: 350px; /* Reverted height back to original */
  /* perspective: 1000px; */
  cursor: pointer;
  margin: 8px; /* Margin to provide space around each card */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transform: translateY(20px);
}

.card-component.visible {
  opacity: 1; /* Visible when in view */
  transform: translateY(0); /* Move to original position */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s, margin 0.8s;
  transform-style: preserve-3d;
  margin: 0 auto;
}

.text-button-container {
  display: flex;
  flex-direction: column; /* Stack text and button vertically */
  justify-content: flex-end; /* Align at the bottom */
  align-items: center; /* Center the button */
  flex-grow: 1; /* Allow it to take available space */
  margin-top: 15px; /* Add some spacing above */
  min-height: 80px; /* Set a minimum height to maintain uniformity */
}

.card-component.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-component.flipped {
  transform: translateX(36px);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.card-image {
  width: 80%; /* Adjusted to fit better within the card */
  height: auto;
  border-radius: 10px;
}

.card-text {
  margin-top: 10px;
  font-size: 0.875rem; /* Reduced font size for front card text */
  text-align: center;
}

.card-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #134b70;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #508c9b;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #134b70;
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px;
  border-radius: 10px;
  text-align: center; /* Center the text */
  height: 100%; /* Ensure it takes the full height */
  backface-visibility: hidden; /* Ensure the back is hidden when not facing */
}

.back-text {
  font-family: "Poppins", serif;
  color: #fff;
  font-size: 0.875rem; /* Reduced font size for back text */
  text-align: center;
  line-height: 1.4; /* Adjusted line height */
  padding: 10px; /* Add padding for better spacing */
  width: 100%; /* Allow the text to fill the available space */
  transform: scaleX(-1); /* Flip text horizontally if still mirrored */
}
